<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users, :'data-qa-selector' => 'will_paginate_content' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
