<% provide(:title, 'Create a Subgroup') %>
<h1>Create a Subgroup</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', button_name: 'Create', group: @sub_group %>
  </div>
</div>
